body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 10px;
  padding: 0;
}
h1 {
  margin: 0;
}
.main-app {
  width: 460px;
  height: 600px;
  background: blue;
}
