body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 10px;
  padding: 0;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.main-app {
  width: 300px;
  height: 600px;
}
.title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #CCC;
}
.title a {
  color: #703030;
  text-decoration: none;
}
.status {
  font-size: 12px;
  line-height: 16px;
  margin-top: 2px;
  padding-right: 3px;
  text-align: right;
  height: 16px;
}
.card-container {
  width: 300px;
  height: 250px;
  background: #ddd;
}
.nav {
  height: 92px;
}
.btn {
  display: block;
  width: 146px;
  height: 80px;
  background: #ccc;
  margin-top: 6px;
  color: #333;
  font-size: 90px;
  line-height: 66px;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background: #703030;
  color: #fff;
}
.btn-prev {
  float: left;
}
.btn-next {
  float: right;
}
.footer {
  background: #555;
  color: #ccc;
  font-size: 10px;
  padding: 4px;
}
.c-front {
  text-align: center;
}
.c-front .symbol {
  font-size: 100px;
  line-height: 170px;
}
.c-front .btn-reveal {
  display: block;
  width: 250px;
  height: 40px;
  margin: 10px auto 0;
  text-decoration: none;
  line-height: 40px;
  background: #666;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}
.c-front .btn-reveal:hover {
  background: #703030;
}
.c-back {
  display: none;
}
.c-back .tb {
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.c-back .tb-title {
  font-weight: 600;
  width: 40%;
}
.c-back .audio-player {
  width: 280px;
  margin-left: 10px;
  margin-top: 10px;
}
.c-back-footer {
  margin: 10px;
}
.c-back-footer a {
  color: #703030;
  font-size: 12px;
  margin-top: 10px;
}
.c-back-footer .btn-hide {
  float: left;
}
.c-back-footer .btn-more {
  float: right;
}
