<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1;" />

		<title>International Phonetic Alphabet - Flash Cards</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
	<div id="app" class="main-app">
		<h1 class="title"><a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">IPA</a> Flash Cards</h1>
		<div id="status" class="status"></div>

		<div id="card-container" class="card-container"></div>
		
		<div id="nav-controls" class="nav">
			<a class="btn btn-prev" href="#">&laquo;</a>
			<a class="btn btn-next" href="#">&raquo;</a>
		</div>

		<div class="footer">Audio source from Wikipedia</div>
	</div>

	<!-- card template.. -->
	<script id="card-tmplt" type="text/template">
		<div class="c-front">
			<p class="symbol"><%= symbol %></p>
			<a class="btn-reveal" href="#">Show Details</a>
		</div>
		<div class="c-back">
			<table class="tb" cellpadding="6" cellspacing="2">
				<tr>
					<td class="tb-title">Symbol</td>
					<td><%= symbol %></td>
				</tr>
				<tr>
					<td class="tb-title">Place</td>
					<td><%= place %></td>
				</tr>
				<tr>
					<td class="tb-title">Manner</td>
					<td><%= manner %></td>
				</tr>
				<tr>
					<td class="tb-title">Voice</td>
					<td><%= voice %></td>
				</tr>
			</table>
			<audio controls class="audio-player">
				<source src="<%= audio %>" type="audio/ogg">
				damn..your browser doesnt support audio.
			</audio>
			<div class="c-back-footer">
				<a class="btn-hide" href="#">Hide Details</a>
				<a class="btn-more" href="<%= more %>" target="_blank">More Info</a>
			</div>
		</div>
	</script>
	<script data-main="js/main" src="js/libs/require.js"></script>
	</body>
</html>

